$--colors: (
  'primary': (
    'base': #3C7EFF,
  ),
  'success': (
    'base': #27C346,
  ),
  'warning': (
    'base': #FF9626,
  ),
  'danger': (
    'base': #F76965,
  ),
  'info': (
    'base': #929293,
  ),
);

@forward 'element-plus/theme-chalk/src/dark/var.scss' with (
  $colors: $--colors,
  $bg-color: (
    '': #141414,
    'page': #0a0a0a,
    'overlay': #141414,
    'fill': #0a0a0a,
  )
);
