:root.dark {
  --wingscloud-header-bg-color: var(--el-bg-color) !important;
  --wingscloud-header-text-color: var(--el-color-white) !important;
  --wingscloud-header-border-color: var(--el-bg-color) !important;
  --wingscloud-aside-border-color: var(--el-bg-color-fill);
  --wingscloud-menu-bg-color: var(--el-bg-color-page);
  --wingscloud-menu-bg-color-active: var(--el-color-primary-light-3);
  --wingscloud-menu-bg-color-hover: var(--el-color-primary-light-3);
  --wingscloud-menu-text-color: var(--el-text-color-secondary);
  --wingscloud-menu-text-color-active: var(--el-text-color-primary);
  --wingscloud-menu-text-color-hover: var(--el-text-color-primary);
  --wingscloud-menu-sub-bg-color: none;
  --wingscloud-menu-inline-bg-color: var(--el-bg-color);
  --wingscloud-tab-bg-color: var(--el-bg-color-fill);
  --wingscloud-tab-border-color: var(--el-bg-color-fill);
  --wingscloud-main-fill: var(--el-bg-color-fill);
  --wingscloud-bg-color-login: var(--el-bg-color-page);
}
