@use './light.scss';
@use './theme.scss';
@use './dark.scss';

:root {
  --wingscloud-header-height: 3.8rem;
  --wingscloud-header-toobar-width: 30rem;
  --wingscloud-header-logo-width: 22rem;
  --wingscloud-aside-logo-height: 6rem;
  --wingscloud-aside-width-fold: calc(
    var(--el-menu-item-height) + var(--wingscloud-menu-gap) * 2 +
      var(--el-menu-icon-width)
  );
  --wingscloud-aside-width: 14.6rem;
  --wingscloud-menu-radius: 0.5rem;
  --wingscloud-menu-gap: 0.2rem;
  --wingscloud-tab-height: 2.5rem;
  --wingscloud-collapse-height: 3rem;
  --wingscloud-main-padding: 1.4rem;
}
