:root.theme {
  --wingscloud-admin-header-bg-color: var(--el-color-primary) !important;
  --wingscloud-admin-header-text-color: var(--el-color-white) !important;
  --wingscloud-admin-header-border-color: var(--el-color-primary) !important;
  --wingscloud-admin-aside-border-color: var(--el-border-color);
  --wingscloud-admin-menu-bg-color: var(--el-color-white);
  --wingscloud-admin-menu-bg-color-active: var(--el-color-primary);
  --wingscloud-admin-menu-bg-color-hover: var(--el-color-info-light-7);
  --wingscloud-admin-menu-text-color: var(--el-text-color-primary);
  --wingscloud-admin-menu-text-color-active: var(--el-color-white);
  --wingscloud-admin-menu-text-color-hover: var(--el-text-color-primary);
  --wingscloud-admin-menu-sub-bg-color: var(--el-color-info-light-9);
  --wingscloud-admin-menu-inline-bg-color: var(--el-color-info-light-9);
  --wingscloud-admin-tab-bg-color: var(--el-bg-color);
  --wingscloud-admin-tab-border-color: var(--el-border-color);
  --wingscloud-admin-main-fill: var(--el-bg-color-fill);
}
